# IDE
/.idea/
kisa-nestjs-orm-study.iml
.vscode/
*.swp
*.swo
*~

# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
coverage/
.nyc_output/

# Environment
.env
.env.local
.env.*.local

# Temp
*.tmp
.cache/
.temp/