services:
  kisa-postgres:
    image: postgres:16.10
    container_name: kisa-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    expose:
      - 5432
    volumes:
      - ./init/init.sql:/docker-entrypoint-initdb.d/init.sql